PORT=8080
DATABASE_URL=<Keep Your Database URL Format>
JWT_SECRET=your_jwt_secret_here
FRONTEND_URL=<Your Frontend URL Here>
CRON_HTTP_URL=<Your Backend URL Here>
CRON_WS_URL=<Your WebSocket URL Here>
MONGODB_URI=<Your MongoDB URI Here>
REDIS_URL=<Your Redis URL Here>
AWS_ACCESS_KEY_ID=<Your AWS Access Key ID Here>
AWS_SECRET_ACCESS_KEY=<Your AWS Secret Access Key Here>
AWS_REGION=<Your AWS Region Here>
AWS_S3_BUCKET=<Your AWS S3 Bucket Name Here>
NODE_ENV=development